/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
#{$all_buttons} {
	border-radius: 5px;
	background: $link-color;
	color: white;
	font-size: 1.6rem;
	font-family: $header-font-stack;
	line-height: 1;
	padding: 0.6em;
	width: 100%;
	border: none;
	
	&:hover, &:active, &:focus {
		border-color: #ccc #bbb #aaa;
	}
	
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 12px;
	width: 100%;
}

select {
	border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

.wpcf7-form {
	
	label {
		@include hide;
	}
}
@media only screen and
(min-width: $tablet) {
	
	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"] {
		width: 300px;
	}
}

@media only screen and
(min-width: $desktop) {
	
	#{$all-buttons} {
		height: 35px;
		padding: 0;
		font-size: 1.4rem;
	}
}