#page {
	width: 95%;
	max-width: 1200px;
	margin: 0 auto;
}

#masthead {
	position: relative;
}

.site-title {
	margin: 0;
}

.site-description {
	margin: 0 0 0 0.5rem;
}

ul, ol {
	margin-left: 1em;
}

li > ul, li > ol {
	margin-left: 0;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/

.entry-title, .page-title {
	border-top: 1px solid $light-gray;
	border-bottom: 1px solid $light-gray;
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}



/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Tables
--------------------------------------------------------------*/
table, th, td {
	border: 1px solid $light-gray;
}

th, td {
	padding: 0.7rem;
}

@media only screen and
(min-width: 750px) {
	
	
	.main-navigation {
		float: none;
		margin: 0.5em 0 0 0.4em;
	}
	
	.contact-button-box {
		position: absolute;
		top: 14px;
		right: 0;
	}
}

@media only screen and
(min-width: 960px) {
	
	.site-branding {
		width: 335px;
		float: left;
	}

	
	#site-navigation {
		position: absolute;
		top: 11px;
	}
	
	.contact-button-box {
		position: absolute;
		top: 68px;
		right: 0;
	}
}
