/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
#{$a-tags} {
	color: $link-color;
	text-decoration: none;
	border-bottom: 1px dotted $link-color;
	
	.site-title & {
		color: $text-color;
		border-bottom: none;
	}
}

#{$a-tags-hover} {
	color: $link-hover-color;
	border-bottom: 1px solid $link-hover-color;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}