// Fonts
$header_font_stack: "Cormorant Garamond", serif;
$body_font_stack: "Open Sans", sans-serif;

// Colors
$light-gray: #cdc9c9;
$link-color: #1c78b9;
$link-hover-color: #e2a316;
$text-color: black;

// Tags
$a-tags: "a, a:link, a:visited";
$a-tags-hover: "a:hover, a:active, a:focus";